/* BASICS */
@font-face {
    font-family: 'SergiosCorner-Regular';
    src: url('../static/fonts/SergiosCorner.ttf');
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('../static/fonts/Metropolis-Regular.otf');
}

body {
    background-color: #555;
    color: #EEE;
}

section {
	background-color: #333;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #FE9A2E;
    padding: 10px 40px 25px 40px;
}

h1 {
	font-family: SergiosCorner;
	font-size: 3.6em;
	color: #FE9A2E;
}

h1 a, h1 a:hover {
	color: #FE9A2E;
}

p {
	font-family: Metropolis;
}

/* ARTICLES */
article p.readmore {
	padding-top: 10px;
}

article footer p {
	color: #CCC;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* CUSTOM NAVBAR */

ul.navbar-nav {
    width: 100%;
    text-align: center;
}

@media (min-width: 767px) {
	.navbar-nav li {
		float: none;
	    display: inline-block;
	}
}

ul.dropdown-menu li {
	display: block;
	text-align: center;
}

.navbar-nav li .dropdown-menu {
	border-bottom-color: #FE9A2E;
}

li.logo-navbar a {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-default .navbar-nav li a {
	font-family: Metropolis;
}

/* HEADER */
div.banner {
	background-color: #333;
	border-top-style: solid;
    border-top-width: 1px;
	border-top-color: #FE9A2E;
}

/* FOOTER */
footer {
	margin-top: 20px;
}

div.footer {
	background-color: #333;
	border-top-style: solid;
    border-top-width: 1px;
	border-top-color: #FE9A2E;
	border-bottom-style: solid;
    border-bottom-width: 1px;
	border-bottom-color: #FE9A2E;
}

div.footer p {
	margin-top: 10px;
	margin-bottom: 10px;
}

img.logo-footer {
	padding-left: 5px;
	padding-right: 5px;
}

/* NAVBAR GENERATOR */
.navbar-default {
  background-color: #333333;
  border-top-color: #FE9A2E;
  border-bottom-color: #FE9A2E;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #cccccc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eeeeee;
}
.navbar-default .navbar-text {
  color: #cccccc;
}
.navbar-default .navbar-nav > li > a {
  color: #cccccc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #333333;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #cccccc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #eeeeee;
  background-color: #111111;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #111111;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #eeeeee;
  background-color: #111111;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #111111;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #111111;
}
.navbar-default .navbar-toggle {
  border-color: #111111;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #111111;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-link {
  color: #cccccc;
}
.navbar-default .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cccccc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
    background-color: #111111;
  }
}
