{% load sitetree %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Sergio's Corner | {{ title_tag }}</title>
		<meta name="description" content="{{ description_tag }}">

		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		{% block head %}{% endblock %}
		<link href="/static/css/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<header>
			<div class="container-fluid">
				<div class="row banner">
					<div class="col-md-12">
						<img class="img-responsive center-block" src="/static/img/banner.jpg" alt="banner">
					</div>
				</div>
			</div>
			{% sitetree_menu from "mainmenu" include "trunk,topmenu" %}
		</header>	

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<section>
						{% block content %}{% endblock %}
					</section>
				</div>
			</div>
		</div>
		<footer>
			<div class="container-fluid">
				<div class="row footer">
					<div class="col-md-12">
						<p class="text-center">Sergio's Corner</p>
						<p class="text-center">
							<a target="_blank" href="https://github.com/Truqui">
								<img class="logo-footer" src="/static/img/github.png" alt="github account">
	            			</a>
	            			<a target="_blank" href="https://www.linkedin.com/in/sergio-gonzalez-cruz-a52a311a">
								<img class="logo-footer" src="/static/img/linkedin.png" alt="linkedin account">
	            			</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		{% comment %}Adding JavaScripts{% endcomment %}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    {% block javascripts %}{% endblock %}
	</body>
</html>
