{% load sitetree %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Sergio's Corner | {{ title_tag }}</title>
		<meta name="description" content="{{ description_tag }}">

		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		{% block head %}{% endblock %}
		<link href="/static/css/style.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<header>
			<div class="container-fluid">
				<div class="row banner">
					<img class="img-responsive center-block" src="/static/img/banner.jpg" alt="banner">
				</div>
			</div>
			{% sitetree_menu from "mainmenu" include "trunk,topmenu" %}
		</header>	

		<div class="container">
			<div class="row">
				<section>
					{% block content %}{% endblock %}
				</section>
			</div>
			<footer>
				<div class="row">
					<p>Sergio's Corner</p>
				</div>
			</footer>
		</div>
		{% comment %}Adding JavaScripts{% endcomment %}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    {% block javascripts %}{% endblock %}
	</body>
</html>
